/* RESET STYLE */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}
main {
	min-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media screen and (max-width: 576px) {
	main {
		min-height: 90vh;
		display: flex;
		align-items: flex-start;
	}
}

input,
.btn,
select,
.btn-close {
	box-shadow: none !important;
}

/* CSS VARIABLES */
:root {
	--color-primary: #539ebc;
	--color-primary-dark: #009b9b;
	--color-secondary: #ff9c41;
	--color-accent: #7000ff;
	--color-accent-2: #01c1b6;
	--color-bg: #f1f6fa;
	--color-light-grey: #808080;
}

/* IMPORTS */
@import url("utilities.css");

/* ==========================================
                   NAVBAR START 
=============================================*/
#main-navbar .nav-item {
	margin: 0 10px;
}
#main-navbar .nav-link {
	font-weight: 500;
}
@media screen and (max-width: 576px) {
	#main-navbar {
		display: none;
	}
}
/* ==========================================
                   NAVBAR END 
=============================================*/

/* ==========================================
                   FOOTER START
=============================================*/
#main-footer {
	color: var(--color-light-grey);
	text-align: center;
	padding: 10px;
	position: relative;
}
#main-footer::before {
	content: "";
	background-color: var(--color-light-grey);
	height: 1px;
	width: 80%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
/* ==========================================
                   FOOTER END
=============================================*/

/* ==============================
 Mobile Auth Page Start 
================================= */
.mobile-auth {
	min-width: 800px;
}
.mobile-auth > div {
	min-height: 300px;
}
.mobile-auth-fild {
	margin: 10px 0;
	max-width: 380px;
}
.mobile-auth-fild img {
	height: 15px;
	border-radius: 3px;
}
.mobile-auth-fild input {
	color: var(--color-light-grey);
	border-radius: 20px;
	box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.09), 0px 6px 15px rgba(0, 0, 0, 0.09) !important;
	padding: 10px 30px;
}
.mobile-auth-fild span {
	color: var(--color-light-grey);
	background-color: #fff;
	border-radius: 30px;
	box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.09), 0px 6px 15px rgba(0, 0, 0, 0.09) !important;
	padding: 10px 20px;
}
@media screen and (max-width: 1012px) {
	.mobile-auth {
		min-width: 700px;
	}
}
@media screen and (max-width: 785px) {
	.mobile-auth {
		min-width: 600px;
	}
}
@media screen and (max-width: 644px) {
	.mobile-auth {
		min-width: 500px;
	}
	.mobile-auth > div {
		min-height: 300px;
	}
}
@media screen and (max-width: 576px) {
	.mobile-auth {
		min-width: 100%;
	}
	.mobile-auth-fild input {
		padding: 8px 15px;
	}
	.mobile-auth-fild span {
		padding: 8px 10px;
	}
}
.otp-area {
	display: flex;
}

.otp-field {
	border: none;
	border-bottom: 1px solid var(--color-light-grey);
	outline: none;
	width: 40px;
	border-radius: 0;
	margin: 0 10px;
}

.otp-group {
	display: block;
	margin-bottom: 15px;
}

.otp-group input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}

.otp-group label {
	position: relative;
	cursor: pointer;
}

.otp-group label:before {
	content: "";
	-webkit-appearance: none;
	background-color: transparent;
	border: 2px solid var(--color-accent);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
		inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 6px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 10px;
	border-radius: 3px;
}

.otp-group input:checked + label:after {
	content: "";
	display: block;
	position: absolute;
	top: 7px;
	left: 6px;
	width: 5px;
	height: 9px;
	border: solid var(--color-accent);
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}
.check-mark i {
	font-size: 120px;
	color: #73ffab;
}
/* =====================================
		Mobile Auth Page End 
======================================== */

/* =========================================
	 ADDRESS VERIFICATION PAGE START
=========================================== */
.address-box {
	box-shadow: 0px 4px 18px rgba(140, 133, 133, 0.25);
	background-color: #fff;
	border: 2px solid rgba(119, 119, 119, 0.608);
	border-radius: 15px;
	padding: 10px 15px;
	margin-top: 80px;
}
.address-para {
	font-weight: 500;
	margin-top: 30px !important;
	margin-bottom: 50px !important;
}

@media screen and (min-width: 658px) {
	.change-address-box {
		min-width: 600px;
	}
}
@media screen and (min-width: 841px) {
	.change-address-box {
		min-width: 800px;
	}
}
@media screen and (max-width: 500px) {
	.two-proceed-btn .proceed-btn {
		width: 120px;
		padding: 6px 17px;
		font-size: 14px;
	}
}

.staying-box select {
	width: 130px;
	border-radius: 50px;
	margin: 0 7px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1) !important;
	color: var(--color-light-grey);
}
.address-check input:checked + label:after,
.address-check label::before {
	border-color: var(--color-primary-dark);
}

@media screen and (max-width: 300px) {
	.staying-box select {
		width: 115px;
		border-radius: 50px;
		margin: 0 5px;
	}
}

.modal-backdrop {
	background-color: rgb(173 173 173 / 55%);
}
.address-modal {
	backdrop-filter: blur(2px);
	border-radius: 40px;
}
address-modal.fade {
	transition-duration: 100ms;
	transition-timing-function: ease-out;
}
.modal .proceed-btn {
	width: 100px;
	padding: 6px 17px;
	font-size: 14px;
	font-weight: 500;
	margin: 0;
}
.address-modal #postponed-days {
	width: 80px;
	border-radius: 50px;
}

.modal .agree-btn,
.modal .decline-btn {
	width: 100px;
	padding: 6px 17px;
	font-size: 14px;
	font-weight: 500;
	margin: 0;
}
.nomini-details-form {
	max-width: 400px;
}
.nomini-details-form input {
	border-radius: 30px;
	box-shadow: 0px -3px 4px rgb(0 0 0 / 9%), 0px 6px 15px rgb(0 0 0 / 9%) !important;
	font-size: 15px;
	font-weight: 500;
	color: var(--color-light-grey);
	padding: 10px 15px;
}
.nomini-details-form select {
	border-radius: 30px;
	box-shadow: 0px -3px 4px rgb(0 0 0 / 9%), 0px 6px 15px rgb(0 0 0 / 9%) !important;
	font-size: 15px;
	font-weight: 500;
	color: var(--color-light-grey);
	padding: 10px 15px;
	width: 160px;
	margin-right: 5px;
}
@media screen and (max-width: 400px) {
	.nomini-details-form select {
		width: 100%;
	}
	.nomini-details-form > div {
		flex-wrap: wrap;
	}
}
/* =========================================
	 ADDRESS VERIFICATION PAGE END
=========================================== */

/* Mian Contnt Box */
.main-box {
	background-color: var(--color-bg);
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	padding: 50px 100px;
	margin: 80px 0;
	max-width: 900px;
}
@media screen and (max-width: 840px) {
	.main-box {
		padding: 30px 50px;
	}
}
@media screen and (max-width: 576px) {
	.main-box {
		padding: 10px 20px;
		padding-bottom: 20px;
		margin: 0;
		border-radius: 0;
		box-shadow: none;
	}
	body {
		background-color: var(--color-bg);
	}
}

/* MOBILE BACK BUTTON */
.mobile-back-btn {
	border: none;
	font-size: 25px;
	padding: 6px 10px;
	background-color: transparent;
	margin-bottom: 20px;
	display: none;
}
@media screen and (max-width: 576px) {
	.mobile-back-btn {
		display: block;
	}
}

/* SEARCH BAR */
.search-bar input {
	border-radius: 20px;
	border-right: none;
	font-size: 14px;
	color: var(--color-light-grey);
}
.search-bar span {
	border-radius: 20px;
	background-color: #fff;
}
.search-bar span i {
	color: var(--color-light-grey);
	font-size: 14px;
}

/* CUSTOM RADIO BUTTON WITH TEXT */
.custom-text-radio {
	padding: 6px 20px;
	background-color: #fff;
	color: #87ceeb;
	border-radius: 20px;
	margin: 14px 0;
	width: 300px;
	display: flex;
	cursor: pointer;
	-webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	-moz-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.custom-text-radio input[type="radio"] {
	display: none;
}
.custom-text-radio i {
	display: none;
	margin-left: auto;
	color: #7392ff;
}

@media screen and (max-width: 768px) {
	.custom-text-radio {
		width: 100%;
	}
}

/* PROCEED BUTTON */
.proceed-btn {
	border: none;
	text-decoration: none;
	display: block;
	width: 160px;
	background-color: #fff;
	color: var(--color-accent-2);
	font-weight: bold;
	padding: 8px 25px;
	margin: 20px 0;
	border-radius: 20px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.proceed-btn:hover {
	color: var(--color-accent-2);
}

/* DECLINE BUTTON */
.decline-btn {
	border: none;
	text-decoration: none;
	display: block;
	width: max-content;
	background-color: #fff;
	color: #ff2525 !important;
	font-weight: bold;
	padding: 8px 25px;
	margin: 20px 0;
	width: 150px;
	border-radius: 20px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* AGREE BUTTON */
.agree-btn {
	border: none;
	text-decoration: none;
	display: block;
	width: max-content;
	background-color: #fff;
	color: #0fb020 !important;
	font-weight: bold;
	padding: 8px 25px;
	width: 150px;
	margin: 20px 0;
	border-radius: 20px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 500px) {
	.agree-btn,
	.decline-btn {
		font-size: 14px;
		width: 110px;
		padding: 6px 20px;
	}
}

/* CUSTOM RADIO BUTTON START */
.custom-radio [type="radio"]:checked,
.custom-radio [type="radio"]:not(:checked) {
	position: absolute;
	display: none;
}
.custom-radio [type="radio"]:checked + label,
.custom-radio [type="radio"]:not(:checked) + label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
	color: var(--color-primary-dark);
	font-weight: 500;
	font-size: 14px;
}
.custom-radio [type="radio"]:checked + label:before,
.custom-radio [type="radio"]:not(:checked) + label:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border: 3px solid var(--color-primary-dark);
	border-radius: 100%;
	background: #fff;
}
.custom-radio [type="radio"]:checked + label:after,
.custom-radio [type="radio"]:not(:checked) + label:after {
	content: "";
	width: 12px;
	height: 12px;
	background: var(--color-primary-dark);
	position: absolute;
	top: 4px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.custom-radio [type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.custom-radio [type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
/* CUSTOM RADIO BUTTON END */

/* ================== UTILITY CLASSES ================ */
.text-14 {
	font-size: 14px;
}
.fw-500 {
	font-weight: 500;
}
.main-heading {
	color: var(--color-secondary);
}
.para {
	color: var(--color-primary);
	line-height: 1.2;
	margin: 0;
}
